<div class="sidebar">
    <div class="logo">ComercIO</div>
    <ul class="menu">
        <li class="menu-item">
            <a href="#">Exercícios</a>
            <ul class="submenu">
                <li class="submenu-item"><a ui-sref="main.jogoDeForca">Jogo de força</a></li>

                <li class="submenu-item"><a ui-sref="main.primeiroExercicio">Primeiro exercício</a></li>
                <li class="submenu-item"><a ui-sref="main.calculadoraExercicio">Calculadora</a></li>
                <li class="submenu-item"><a ui-sref="main.contador">Contador</a></li>
                <li class="submenu-item"><a ui-sref="main.calculadoraImc">Calculadora Imc</a></li>
                <li class="submenu-item"><a ui-sref="main.calculadoraDeIdade">Calculadora de idade</a></li>
                <li class="submenu-item"><a ui-sref="main.palindromo">Palindromo</a></li>
                <li class="submenu-item"><a ui-sref="main.conversorDeUnidades">Conversor de Unidades</a></li>
                <li class="submenu-item"><a ui-sref="main.jogoDeAdivinharONumero">Adivinhar número</a></li>
                <li class="submenu-item"><a ui-sref="main.jogoDeAdivinharPalavra">Adivinhar palavra</a></li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="#">Produtos</a>
            <ul class="submenu">
                <li class="submenu-item"><a href="#">Criar</a></li>
                <li class="submenu-item"><a href="#">Listar</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#">Usuários</a>
            <ul class="submenu">
                <li class="submenu-item"><a href="#">Criar</a></li>
                <li class="submenu-item"><a href="#">Listar</a></li>
            </ul>
        </li>
    </ul>
</div>