<div class="sidebar">
    <div class="logo">ComercIO</div>
    <ul class="menu">
        <li class="menu-item">
            <a href="#">Produtos</a>
            <ul class="submenu">
                <li class="submenu-item"><a href="#">Criar</a></li>
                <li class="submenu-item"><a href="#">Listar</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#">Usuários</a>
            <ul class="submenu">
                <li class="submenu-item"><a href="#">Criar</a></li>
                <li class="submenu-item"><a href="#">Listar</a></li>
            </ul>
        </li>
    </ul>
</div>