<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Edição de usuários</span>
    </h1>
    <p class="title-bar-description">
      <small>Nesta tela você pode listar os usuários e realizar modificações neles.</small>
    </p>
  </div><!-- /.title-bar -->
  <div class="row gutter-xs">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <div class="card-actions">
            <button type="button" class="card-action card-toggler" title="Collapse"></button>
            <button type="button" class="card-action card-reload" title="Reload"></button>
            <button type="button" class="card-action card-remove" title="Remove"></button>
          </div>
          <strong></strong>
        </div>
        <div class="card-body">
          <table datatable class="table table-hover table-striped table-nowrap dataTable" dt-columns="columns" dt-options="options" cellspacing="0" width="100%">
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
</div><!-- /.layout-content-body -->