<div ng-show="jogo.jogoIniciado == 0">
    <h1>Deseja iniciar o jogo de adivinhação?</h1>
    <select ng-model="jogo.tema">
        <option value="frutas">Frutas</option>
        <option value="carros">Carros</option>
        <option value="cores">Cores</option>
        <option value="generos">Generos de filmes</option>
        <option value="outros">Outros</option>


    </select>
    <div ng-show="jogo.tema == 'outros'">
        <br>
        <h4>Separe as palavras por ponto e virgula ;</h4>
        <input type="text" ng-model="jogo.palavraOutros">
        <br>
    </div>
    <input type="button" value="Iniciar" ng-click="iniciarJogo()">
</div>

<div ng-show="jogo.jogoIniciado >= 1">
    <h1>Adivinhe a palavra:</h1><br>
<p>Tema: {{jogo.tema}}</p>
<p>Tamanho da palavra: {{palavraAleatoria.length}}</p>


    <input type="text" ng-model="jogo.palavraTentada">
    <input type="button" value="Verificar" ng-click="testarPalavra()" ng-show="jogo.jogoIniciado == 1">
    <br><br>
    <input type="button" style="background-color: red;" value="Reiniciar o jogo" ng-click="reiniciarJogo()"
        ng-show="jogo.jogoIniciado == 2">

    <div>
        <br>
        Msg: {{jogo.msg}}
        <br>
        Tentativas: {{jogo.qtdTentativa}}
        <br>
        Você acertou {{jogo.qtdLetrasIguais}} letras
    </div>
</div>