<div ng-show="jogo.jogoIniciado == 'zero'">
<h1>Deseja iniciar o jogo de adivinhação? Tema: frutas!</h1>
<input type="button" value="Iniciar" ng-click="">
</div>

<div ng-show="jogo.jogoIniciado >= 1">
<h1>Adivinhe a palavra:</h1>
<input type="text" ng-model="jogo.palavraTentada">
<input type="button" value="Verificar" ng-click="" ng-show="jogo.jogoIniciado == 'um'">
<br><br>
<input type="button" style="background-color: red;" value="Reiniciar o jogo" ng-click="" ng-show="jogo.jogoIniciado == 'dois'">

<div>
<br>
Msg: {{msg}}
<br>
Tentativas: {{qtdTentativa}}
<br>
Você acertou {{qtdLetrasIguais}} letras
</div>
</div>